<div class="m-5 border border-primary-subtle">
    <%= form_with model: [:admin, @post], method: :post do |f| %>

            <div class="m-5">
                <%= f.label :title, class: 'form-label' %>
                <%= f.text_field :title, required: true, minlength: 2, class: 'form-control' %>
            </div>

            <div class="m-5">
                <%= f.label :body, class: 'form-label' %>
                <%= f.text_area :body, required: true, minlength: 3, class: 'form-control' %>
            </div>

            <div class="m-5">
                <%= f.label :Attach_img, class: 'form-label' %>
                <%= f.file_field :preview_img %>
            </div>

            <%= f.submit 'Send form', class: 'btn btn-warning m-4'%>

    <%end%>
</div>