<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: 'all', "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="mb-4 admin_header">
    
      <nav class="nav">

        <ul class="nav header_name align-items-center ms-auto p-2">
         <% if user_signed_in? %> 

            <li class="d-flex flex-row">
        
              <a href = "#" class = 'nav-link px-8 text-blue'>
                  <%= current_user.name %>
              </a>
          
              <%= link_to "Log out", admin_adminsession_path, data: {"turbo-method": :delete}, class: 'nav-link px-8 text-white' %>         
                

            </li>

        <% else %>
            <li>
              <%= link_to "Sign in", new_admin_adminsession_path, class: 'nav-link px-8 text-blue' %> 
            </li>
            <% end %>
        </ul>

      </nav>

      <div class="header_text">Adminka</div>

      
      <%= link_to "main menu admin", admin_pages_path, class: 'nav-link px-8 text-white' %>

    </header>

    <main class="container mt-3">
      <% flash.each do |k, v|%>
        <%= tag.div v, class: "alert alert-#{k}", role: 'alert'%>
      <% end %>


      <%= yield %>  
    </main>
  </body>
</html>
